* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 53px;
  padding-bottom: 56px;
}
.header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.header__left_title {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 125%;
  color: #292F36;
}
.header__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}
.header__right_menu-item {
  color: #292F36;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}

.top-box__content {
  margin-bottom: 140px;
  position: relative;
  background: url("./img/Banner.png") no-repeat center center;
  background-size: cover;
  height: 758px;
  width: 1200px;
  padding-top: 204px;
  padding-left: 46px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}
.top-box__title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 125%;
  width: 434px;
}
.top-box__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  width: 434px;
}
.top-box__button {
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  display: flex;
  padding: 26px 49px 26px 48px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFF;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
}

.average-box__title {
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.average-box__text {
  color: #4D5053;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  width: 737px;
  padding-left: calc(50% - 368.5px);
  padding-right: calc(50% - 368.5px);
  padding-bottom: 93px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 549px);
  row-gap: 56px;
  -moz-column-gap: 104px;
       column-gap: 104px;
  padding-bottom: 132px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 217px;
}
.description__title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.description__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.data-box {
  background-color: #F4F0EC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 76px;
  padding-top: 151px;
  padding-bottom: 151px;
  margin-bottom: 96px;
}
.data-box__line {
  width: 1px;
  height: 130px;
  background-color: #CDA274;
  border: none;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data__number {
  color: #CDA274;
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
}
.data__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.articles-box__title {
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.articles-box__text {
  color: #4D5053;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  width: 737px;
  padding-left: calc(50% - 405.5px);
  padding-right: calc(50% - 405.5px);
  padding-bottom: 93px;
}

.articles {
  display: flex;
  flex-direction: row;
  gap: 27px;
  margin-bottom: 96px;
}

.article {
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.article__title {
  width: 124px;
  height: 41px;
  border-radius: 8px 8px 8px 0px;
  background-color: #FFF;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  margin-top: -60px;
  margin-left: 20px;
  position: absolute;
  padding: 4px 5px 8px 11px;
  box-sizing: border-box;
}
.article__text {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  width: 306px;
}
.article__data-and-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.article__date {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.article__arrow {
  width: 52px;
  height: 52px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 101px;
  margin-bottom: 134px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 393px;
}
.footer__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.footer__logo_title {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 125%;
}
.footer__content {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.footer__content_bold {
  color: #292F36;
  font-family: "DM Serif Display", serif;
}
.footer__average {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__staf {
  width: 120px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}/*# sourceMappingURL=style.css.map */